.body {
  margin: 2em 20px;
}
.git {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.git--controlls {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
}
.git--view {
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
}
.git--view--card {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  margin: 30px 20px;
  position: relative;
}
.git--view--card--avatar {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.git--view--card--name {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.git--view--card--link {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
}
.git--view--card--action {
  display: inline-block;
  font-size: 18px;
}

